:root {
    --dark-theme-bg-color: #1b2126;
    --dark-theme-column-color: #1f2e3c;
    --dark-theme-task-color: #2c3f51;
    --dark-theme-primary-color: #21313f;
    --dark-theme-text-color: #b1c4c8;
    --dark-theme-input-color: #18232d;
    --dark-theme-dark-green: #27553e;
    --dark-theme-bright-green: #359440;
    --dark-theme-task-selected-bg: #11586d;
}

/*Scroll Bar*/
.tasks-list::-webkit-scrollbar,
.modal-guts .overflow::-webkit-scrollbar,
#board::-webkit-scrollbar,
#modify-task::-webkit-scrollbar {
    width: 0.5rem;
}
.tasks-list::-webkit-scrollbar-track,
.modal-guts .overflow::-webkit-scrollbar-track,
#board::-webkit-scrollbar-track,
#modify-task::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(0,0,0,0);
}
.tasks-list::-webkit-scrollbar-thumb,
.modal-guts .overflow::-webkit-scrollbar-thumb,
#board::-webkit-scrollbar-thumb,
#modify-task::-webkit-scrollbar-thumb {
    background-color: #2e4350;
    border-radius: 0.5rem;
}


body {
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-text-color);
}

nav {
    background-color: #262e35;
    border-bottom-color: #131418;
}

nav .logo {
    color: var(--dark-theme-text-color) !important;
}

.button-reset {
    color: var(--dark-theme-text-color);
}

.btn {
    background-color: var(--dark-theme-dark-green) !important;
    border: 1px var(--dark-theme-bright-green) solid !important;
    color: #d7fbff !important;
}

.btn:hover {
    background-color: var(--dark-theme-bright-green) !important;
}

input,
select {
    background-color: var(--dark-theme-input-color);
    border-color: #17323d !important;
    color: var(--dark-theme-text-color);
}

input:focus,
select:focus {
    outline: solid #04819e 2px !important;
}

aside {
    background-color: var(--dark-theme-primary-color);
}

aside img.avatar {
    border-color: var(--dark-theme-bg-color);
}

main > .below-header img.avatar {
    border-color: var( --dark-theme-bg-color);
}

main > .container > section {
    background-color: var(--dark-theme-column-color);
}

#showAddColumnForm {
    color: var(--dark-theme-dark-green);
}

#showAddColumnForm:hover {
    color: var(--dark-theme-bright-green);
}

#addColumnForm .close-btn {
    border-color: var(--dark-theme-text-color) !important;
    background: none !important;
}

#addColumnForm .close-btn:hover {
    background: var(--dark-theme-text-color) !important;
    color: var(--dark-theme-bg-color) !important;
}

#addColumnForm .submit-btn,
#modify-task .submit-btn {
    border-color: var(--dark-theme-bright-green);
}

#addColumnForm .submit-btn:hover,
#modify-task .submit-btn:hover {
    background: var(--dark-theme-bright-green);
}


main .task {
    background-color: var(--dark-theme-task-color);
}

main .task img.avatar {
    border-color: var(--dark-theme-task-color);
}

.task.selected,
.task.selected:hover {
    background-color: var(--dark-theme-task-selected-bg);
    box-shadow: 0 0 6px rgb(0,255,255);
}

.task.selected img.avatar,
.task.selected:hover img.avatar {
    border-color:  var(--dark-theme-task-selected-bg);
}

main .task:hover {
    background-color: #1b3645;
}

main .task:hover img.avatar {
    border-color: #1b3645;
}

.modal-guts {
    background-color: var(--dark-theme-primary-color);
}

.modal-content {
    background-color: var(--dark-theme-primary-color);
}

#task-details {
    background: #233240;
}

.form-container {
    background: var(--dark-theme-primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
}

.delete-confirmation-task,
.delete-confirmation-column {
    background: #0a6d85;
    color: #fff;
}

.delete-confirmation-task > .close-btn,
.delete-confirmation-column > .close-btn,
.delete-confirmation-board > .close-btn {
    border-color: var(--dark-theme-text-color) !important;
    color: var(--dark-theme-text-color) !important;
    background: none !important;
}

.delete-confirmation-task > .close-btn:hover,
.delete-confirmation-column > .close-btn:hover,
.delete-confirmation-board > .close-btn:hover {
    border-color: #fff !important;
    color: #fff !important;
}

.delete-confirmation-task > .submit-btn,
.delete-confirmation-column > .submit-btn,
.delete-confirmation-board > .submit-btn {
    border-color: #b64e54 !important;
    background: none !important;
}

.delete-confirmation-task > .submit-btn:hover,
.delete-confirmation-column > .submit-btn:hover,
.delete-confirmation-board > .submit-btn:hover {
    background: #b64e54 !important;
}

.delete-confirmation-board {
    background-color: var(--dark-theme-primary-color);
}