body > .container {
    min-height: 100vh;
}

main#waiting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main#waiting * {
    display: block;
}

.form-container {
    min-width: 500px;
    padding: 2rem;
    box-shadow: rgba(35, 34, 167, 0.3) 0 0 0 3px;
}

.form-container > * {
    margin-bottom: 2rem;
}

.form-container form label {
    margin-bottom: 0.5rem;
}

.form-container select,
.form-container input {
    margin-bottom: 1rem;
}