* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5rem;
}

html {
    overflow: hidden;
}

/*Scroll Bar*/
.tasks-list::-webkit-scrollbar-track,
.modal-guts .overflow::-webkit-scrollbar-track,
#board::-webkit-scrollbar-track,
#modify-task::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

.tasks-list::-webkit-scrollbar,
.modal-guts .overflow::-webkit-scrollbar,
#board::-webkit-scrollbar,
#modify-task::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.tasks-list::-webkit-scrollbar-thumb,
.modal-guts .overflow::-webkit-scrollbar-thumb,
#board::-webkit-scrollbar-thumb,
#modify-task::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    height: 0.5rem;
    background-color: #bfbfbf;
}

/* Utility classes */
.container {
    display: flex;
}

.primary-header {
    line-height: 1.5;
    font-size: 2rem;
}

.secondary-header {
    color: #5d6985;
    font-size: 0.75rem;
}

img.avatar {
    border-radius: 50%;
    border: 2px #ffffff solid;
    width: 2rem;
    height: 2rem;
}

img.avatar-m {
    border: 3px #ffffff solid;
    width: 3rem;
    height: 3rem;
}

.margin-right-s {
    margin-right: 0.25rem;
}

.button-reset {
    user-select: none;
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #333333;
}

.button-reset:focus {
    outline: none;
}

.btn {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.btn-primary {
    color: #2322a7;
    border: #2322a7 2px solid;
}

.btn-primary:hover {
    color: #fff;
    background: #2322a7;
}

p.error {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

/* NAVBAR */

nav {
    z-index: 10;
    height: 3rem;
    position: fixed;
    background-color: #2322a7;
    width: 100vw;
    border-bottom: #4949F2 1px solid;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

nav > * {
    margin-right: 1.5rem;
}

nav .logo {
    margin-left: 1px;
    font-size: 2rem;
}

nav .active {
    color: #E3F218;
}

/* ASIDE */

aside {
    z-index: 9;
    position: fixed;
    background-color: #4949F2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 3rem 0.5rem 0.5rem;
}

aside .buttons-top {
    display: flex;
    flex-flow: column wrap;
}

aside .buttons-top button {
    margin-top: 1rem;
}

aside button label {
    cursor: pointer;
}

/* MAIN */

main {
    overflow: hidden;
    width: 100vw;
    margin-top: 3rem;
    padding: 2rem;
    flex-grow: 1;
    min-height: 90vh;
}

main h1 {
    margin-bottom: 1rem;
}

main .below-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

main .below-header .input-box input {
    margin-right: 1rem;
    border: 1px #ddd solid;
    border-radius: 1px;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    width: 200px;
}

main .below-header .input-box {
    position: relative;
    flex-shrink: 100;
}

main .below-header .input-box .fa-search {
    position: absolute;
    color: #ccc;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
}

main .below-header input:focus {
    outline-color: #2322a7;
}

main .users {
    display: flex;
}

main .below-header .users img {
    margin-right: -1rem;
}

#saveBoard {
    margin-left: 1rem;
}

main .container {
    align-items: start;
}

#board {
    height: 76vh;
    overflow-y: hidden;
}

main > .container > section {
    flex-shrink: 0;
    width: 300px;
    background-color: #f4f5f7;
    margin-right: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

main > .container > section .tasks-list {
    overflow: auto;
    max-height: 65vh;
    padding: 0.25rem 0.25rem;
    position: relative;
}

main > .container > section:last-child {
    margin-right: 0;
    background: none;
}

#column-name-input,
#task-details input,
#task-details select,
#waiting select,
#create-board input {
    display: block;
    border: 1px #ddd solid;
    border-radius: 1px;
    padding: 0.5rem;
    width: 200px;
}

#column-name-input:focus,
#task-details input:focus,
#task-details select:focus,
#waiting input:focus,
#waiting select:focus {
    outline-color: #2322a7;
}

#addColumnForm button {
    margin-top: 1rem;
}

#addColumnForm .close-btn {
    background: none;
    border: #4949F2 2px solid;
}

#addColumnForm .close-btn:hover {
    background: #4949F2;
    color: #ffffff;
}

#addColumnForm .submit-btn {
    margin-left: 1rem;
    border: #2322a7 2px solid;
}

#addColumnForm .submit-btn:hover {
    background: #2322a7;
    color: #ffffff;
}

section .column-header {
    padding-bottom: 1.5rem;
}

.task {
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
    position: relative;
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    flex-basis: 25%;
}

.task.selected {
    background-color: #e7e7e7;
    box-shadow: 0 0 6px rgb(150, 150, 150);
}

.task.selected img.avatar {
    border-color:  #e7e7e7;
}

.task:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.task:hover img.avatar {
    border-color:  #e7e7e7;
}

.removeTaskButton,
.removeColumnButton {
    font-size: 1rem;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}

.task .task-title {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    font-weight: normal;
    word-break: break-word;
}

.task .task-details {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.task .tag {
    flex: 1;
}

.task .users img {
    margin-right: -0.75rem;
}

main .users img:last-child {
    margin-right: 0.5rem;
}

#showAddColumnForm {
    color: #4949F2;
}

#showAddColumnForm:hover {
    color: #090959;
}

#task-details {
    position: relative;
    width: 400px;
    min-width: 400px;
    background: #d1e4ff;
    margin-top: 3rem;
    padding: 2rem;
}

#task-details .close-btn {
    font-size: 1.5rem;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

#modify-task label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#modify-task label,
#modify-task input,
#modify-task select {
    display: block;
}

#modify-task input,
#modify-task select {
    margin-bottom: 1rem;
    width: 90%;
}

#modify-task .btn,
#waiting .btn {
    border: #2322a7 2px solid;
}

#modify-task .btn:hover,
#waiting .btn:hover {
    background: #2322a7;
    color: white;
}


.removeTaskButton {
    visibility: hidden;
}

.task:hover .removeTaskButton {
    visibility: visible;
}

section > .removeColumnButton {
    visibility: hidden;
}

section:hover > .removeColumnButton {
    visibility: visible;
}

/*For Tablets*/

@media only screen and (max-width: 1000px) {
    section > .removeColumnButton {visibility: visible;}

    .removeTaskButton {visibility: visible;}

    #task-details {
        position: fixed;
        min-width: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
    }

    #modify-task input,
    #modify-task select {
        width: 100%;
    }

    html {
        overflow: auto;
    }

    main > .container > section {
        width: 100%;
    }

    main {
        padding: 1.5rem;
    }

    main > .container,
    main > .below-header {
        display: block;
    }

    main .primary-header {
        margin-top: 1rem;
    }

    main .below-header .users  {
        margin-top: 0.5rem;
    }

    main .below-header p  {
        margin-top: 0.5rem;
    }

    main > .container > section {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #board {
        height: 100%;
    }

    #task-details {
        padding-bottom: 4rem;
    }

    #modify-task {
        padding: 1rem;
        overflow-y: auto;
        height: 100%;
    }


}

/*For Mobile*/

@media only screen and (max-width: 550px){
    .form-container {
        min-width: 0;
    }

    nav > * {
        margin-right: 1rem;
    }

    main {
        padding: 0.4rem;
    }

    main .below-header input {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 769px) and (min-width: 1000px) {
    main.board {
        margin-top: 1.25rem;
    }
}

.white-icon {color: #ffffff;}
.green-icon {color: #00cb42;}
.blue-icon {color: #29a7ea;}
.red-icon {color: #fe446a;}
.orange-icon {color: #fa9a51;}
